extends ../externals/dashboardBase

block content
  .master__main-body__container.form-7#cards-container
  //- .master__main-body__container.form-7
    //   
    //- - let n = 0
    //-   while n < 30
    
    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-pause.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-play.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-pause.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-play.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-pause.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-play.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-pause.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-play.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-pause.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-play.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-pause.i-secondary
        i.fas.fa-trash-alt.i-primary

    .user-card
      .user-card__details
        strong Ssadiq Roy
        span ssadiqueroy@mailsac.com
      .user-card__buttons
        i.fas.fa-play.i-secondary
        i.fas.fa-trash-alt.i-primary
    
    
    
            
  //- .master__main-body__buttons.form-7
  //-   span.tag.tag-primary.tag-button
  //-     i.fas.fa-angle-left
  //-     | prev
  //-   span.tag 1/12
  //-   span.tag.tag-primary.tag-button
  //-     | next 
  //-     i.fas.fa-angle-right
