footer.footer
  .footer__disclaimer
    .footer__logo
      h2
        a(href="/html/pages/home.html") 🍿Eye Client
    p
      strong.footer-link Eye Client
      |  do not own the media provided but only provide access links to those media for those who are unable to purchase. Downloading from 
      span.footer-link eye client
      |  is at your own risk. We are not responsible for users actions on this website and its subsequent contents.

    p
      | Visit 
      a.footer-link(href="https://www.imdb.com") imdb.com
      |  For your media
  

  .footer__connect
    .footer__connect-request
      a.margin-t2(href='https://t.me/eyeclient_community').tag.tag-btn.tag-primary make request
    .footer__connect-contact
      strong.fs-big Follow us: &nbsp;
      .footer__connect-socials
        a(href='https://web.facebook.com/profile.php?id=100094749969842')
          i.fab.fa-facebook
        a(href='https://www.instagram.com/eyeclient_/')
          i.fab.fa-instagram
        a(href='https://twitter.com/eyeclient')
          i.fab.fa-twitter
        //- a(href)
          i.fab.fa-whatsapp
        a(href='https://www.threads.net/@eyeclient_')
          i.fab.fa-threads
        a(href='https://www.tiktok.com/@eyeclient_')
          i.fab.fa-tiktok
        a(href='https://t.me/eyeclient')
          i.fab.fa-telegram