footer.footer
  .footer__disclaimer
    .footer__logo
      h1
        a(href="/html/pages/home.html") 🍿Eye Client
    p
      strong.footer-link Eye Client
      |  do not own the media provided but only provide access links to those media for those who are unable to purchase. Downloading from 
      span.footer-link eye client
      |  is at your own risk. We are not responsible for users actions on this website and its subsequent contents.

    p
      | Visit 
      a.footer-link(href="https://www.imdb.com") imdb.com
      |  For your media
  .footer__connect
    strong.fs-big Follow us: &nbsp;
    .footer__connect-socials
      a(href)
        i.fab.fa-facebook
      a(href)
        i.fab.fa-instagram
      a(href)
        i.fab.fa-twitter
      a(href)
        i.fab.fa-whatsapp
      a(href)
        i.fab.fa-threads
      a(href)
        i.fab.fa-tiktok
      a(href)
        i.fab.fa-telegram