$font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$logo-font: alphonse;

$primary: #fc6736;
$secondary: #0c2d57;
$secondary-light: #143b6d;
$background: #ebebeb;
$white: #ffffff;
$background: #ebebeb;
$background-dark: #061528;

$fs-tiny: 1rem;
$fs-mini: 1.2rem;
$fs-small: 1.4rem;
$fs-normal: 1.6rem;
$fs-big: 1.9rem;
$fs-large: 2.4rem;
